<h2>New Comment</h2>
<% form_for([@song, @comment]) do |f| %>
  <p>
    <%= f.text_area :body %>
  </p>

  <p>
  <%= hidden_field_tag "song_id", params[:song_id] %>
    <%= f.submit "Create" %>
  </p>
<% end %>
