<div id="footer">
  <ul class="navigation round">
    <li><%= link_to "Ruby On Rails", "http://rubyonrails.org" %></li>
    <li><%= link_to "Ruby", "http://ruby-lang.org" %></li>
    <li><%= link_to "RubyGems", "http://rubygems.org" %></li>
  </ul>
</div>
<br />
<br />

